.navbar {
  position: fixed;
  top: 0;
  z-index: 130;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  padding: 20px;
  transition: 500ms ease-in;
}
.navbar__darken {
  background: rgba(0, 0, 0, 0.98);
}
.navbar__brand {
  width: 100px;
  object-fit: contain;
  position: fixed;
  left: 18px;
  cursor: pointer;
}
.nav__smileu {
  width: 25px;
  object-fit: contain;
  position: fixed;
  right: 14px;
  cursor: pointer;
}
.navbar span {
  position: fixed;
  /* left: 150px; */
  cursor: pointer;
  font-weight: 400;
  transition: 500ms;
}
.notification {
  position: fixed;
  cursor: pointer;
}
.searchIcon {
  right: 115px;
}
.giftIcon {
  right: 85px;
}
.bell {
  right: 55px;
}
.bell::after {
  content: "1";
  background: rgb(154, 4, 4);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 8px;
  position: absolute;
  z-index: 101;
  right: 0.6px;
  top: -3px;
  text-align: center;
}
.navbar span:hover,
.navbar .active {
  font-weight: 700;
  transform: scale(1.1);
  /* transform-origin: center center; */
}
.navbar span:nth-of-type(1) {
  left: 150px;
}
.navbar span:nth-of-type(2) {
  left: 220px;
}
.navbar span:nth-of-type(3) {
  left: 310px;
}
.navbar span:nth-of-type(4) {
  left: 380px;
}
.navbar span:nth-of-type(5) {
  left: 520px;
}
@media only screen and (max-width: 425px) {
  
}